<%= content_for :page_title, @post.title %>
<section class="section">
  <div class="container">
    <span class="tag is-light"><%= @post.tags %></span>
    <p class="content"><%= @post.content %></p>
  </div>
</section>